@page "/documents"
@inject Services.AppData AppData;

<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>Documents</h1>
    </div>

</header>
<body>
    <div>
        <div class="row slide-in-from-bottom-light">
            <!-- Card 1 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("resume.png")" alt="Resume graphic">
                    </div>
                    <div class="container">
                        <h4><b>Resume</b></h4>
                        <p>General Purpose</p>
                        <p style="font-size: 12px">2023</p>
                    </div>
                </div>
            </div>

            <!-- Modal 1 -->
            <div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v1.kalenwallin.com/Documents/Resume.pdf" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
                    </div>
                </form>
            </div>


            <!-- Card 2 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id02').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("ThesisCover.jpg")" alt="Honors Thesis Cover Graphic">
                    </div>
                    <div class="container">
                        <h4><b>Honors Thesis</b></h4>
                        <p>University of Nebraska-Lincoln (UNL)</p>
                        <p style="font-size: 12px">2023</p>
                    </div>
                </div>
            </div>

            <!-- Modal 2 -->
            <div id="id02" class="modal" onclick="document.getElementById('id02').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v3.kalenwallin.com/undergrad-honors-thesis" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
                    </div>
                </form>
            </div>


            <!-- Card 3 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id03').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("unl_transcript.png")" alt="University of Nebraska-Lincoln transcript graphic">
                    </div>
                    <div class="container">
                        <h4><b>BA Computer Science</b></h4>
                        <p>University of Nebraska-Lincoln (UNL)</p>
                        <p style="font-size: 12px">2023</p>
                    </div>
                </div>
            </div>

            <!-- Modal 3 -->
            <div id="id03" class="modal" onclick="document.getElementById('id03').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v1.kalenwallin.com/Documents/unl_transcript.pdf" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row slide-in-from-bottom-light">
            <!-- Card 4 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id04').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("ru_transcript.png")" alt="Reykjavík University graphic">
                    </div>
                    <div class="container">
                        <h4><b>Exchange Studies</b></h4>
                        <p>Reykjavík University (RU)</p>
                        <p style="font-size: 12px">2022</p>
                    </div>
                </div>
            </div>

            <!-- Modal 4 -->
            <div id="id04" class="modal" onclick="document.getElementById('id04').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v1.kalenwallin.com/Documents/ru_transcript.pdf" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id04').style.display='none'">Done</button>
                    </div>
                </form>
            </div>


            <!-- Card 5 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id05').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("cchs_transcript.png")" alt="CCHS Transcript graphic">
                    </div>
                    <div class="container">
                        <h4><b>High School</b></h4>
                        <p>Chase County High School (CCHS)</p>
                        <p style="font-size: 12px">2019</p>
                    </div>
                </div>
            </div>

            <!-- Modal 5 -->
            <div id="id05" class="modal" onclick="document.getElementById('id05').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v1.kalenwallin.com/Documents/cchstranscript.pdf" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id05').style.display='none'">Done</button>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>
</body>