@page "/work"
@inject Services.AppData AppData;

<header>
    <div class="modal-header slide-in-from-bottom">
        <h1>Work Experience</h1>
    </div>

</header>
<body>
    <div>
        <!-- Row 2 -->
        <div class="row slide-in-from-bottom-light">
            <!-- Card 6 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id06').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("sandhills.png")" alt="Graphic of the Sandhills Global logo with the text Sand and Global in grey and hills in dark blue on a greyish blue background.">
                    </div>
                    <div class="container">
                        <h4><b>Sandhills Global</b></h4>
                        <p>ASP.NET Web Developer</p>
                        <p style="font-size: 12px">2023</p>
                    </div>
                </div>
            </div>

            <!-- Modal 6 -->
            <div id="id06" class="modal" onclick="document.getElementById('id06').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v3.kalenwallin.com/sandhills" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id06').style.display='none'">Done</button>
                    </div>
                </form>
            </div> 

            <!-- Card 5 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id05').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("wallinfarms.png")" alt="Wallin Farms Logo with four wheat heads stacked on top of each other on a black background and the text Wallin in white and Farms in yellow all capitalized.">
                    </div>
                    <div class="container">
                        <h4><b>Wallin Farms</b></h4>
                        <p>Freelance Software Engineer</p>
                        <p style="font-size: 12px">2023</p>
                    </div>
                </div>
            </div>

            <!-- Modal 5 -->
            <div id="id05" class="modal" onclick="document.getElementById('id05').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v3.kalenwallin.com/wallin-farms" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id05').style.display='none'">Done</button>
                    </div>
                </form>
            </div>


            <!-- Card 4 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id04').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("mrp_Internship.png")" alt="A graphics that shows MRP's logo and the word internship colored white below it with a yellowish orange background">
                    </div>
                    <div class="container">
                        <h4><b>Mystic Rhoads Productions</b></h4>
                        <p>Freelance Graphic Designer</p>
                        <p style="font-size: 12px">2023</p>
                    </div>
                </div>
            </div>

            <!-- Modal 4 -->
            <div id="id04" class="modal" onclick="document.getElementById('id04').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v3.kalenwallin.com/mrp" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id04').style.display='none'">Done</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Row 1 -->
        <div class="row slide-in-from-bottom-light">
            <!-- Card 3 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id03').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("farmafield.png")" alt="FarmAfield internship graphic">
                    </div>
                    <div class="container">
                        <h4><b>FarmAfield</b></h4>
                        <p>Django Web Developer Intern</p>
                        <p style="font-size: 12px">2021</p>
                    </div>
                </div>
            </div>

            <!-- Modal 3 -->
            <div id="id03" class="modal" onclick="document.getElementById('id03').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v3.kalenwallin.com/faf" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id03').style.display='none'">Done</button>
                    </div>
                </form>
            </div>

            <!-- Card 2 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id02').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("unl_ta.png")" alt="University of Nebraska-Lincoln Software Engineering Teaching Assistant graphic">
                    </div>
                    <div class="container">
                        <h4><b>University of Nebraska-Lincoln</b></h4>
                        <p>Software Engineering Teaching Assistant</p>
                        <p style="font-size: 12px">2021</p>
                    </div>
                </div>
            </div>

            <!-- Modal 2 -->
            <div id="id02" class="modal" onclick="document.getElementById('id02').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v3.kalenwallin.com/unl-ta" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id02').style.display='none'">Done</button>
                    </div>
                </form>
            </div>


            <!-- Card 1 -->
            <div class="column to-slide-bottom-light animate">
                <div class="card" onclick="document.getElementById('id01').style.display='block'">
                    <div class="img-container">
                        <img src="@AppData.GetImageLink("imperial_pool.png")" alt="Imperial Pool Logo">
                    </div>
                    <div class="container">
                        <h4><b>Imperial Pool</b></h4>
                        <p>Lifeguard</p>
                        <p style="font-size: 12px">2017</p>
                    </div>
                </div>
            </div>

            <!-- Modal 1 -->
            <div id="id01" class="modal" onclick="document.getElementById('id01').style.display='none'">
                <form class="modal-content notion animate">
                    <div class="fappy_container">
                        <iframe loading="lazy" src="https://v3.kalenwallin.com/lifeguard" style="width: 100%; height: 95%;" />
                        <button class="btn-block" type="button" onclick="document.getElementById('id01').style.display='none'">Done</button>
                    </div>
                </form>
            </div>
        </div>
        <br />
    </div>
</body>